html{
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}
body{
    margin: 0;
}

/*---- Navbar del header ----*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid #292a3050;
    z-index: 1;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px;
}

header nav ul li{
    list-style: none;
}

header nav ul li:hover{
    font-weight: 700;
    text-decoration: underline;
}

